@charset "utf-8";
/*初始化常用样式*/
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #dbdbdb;
  position: relative;
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("../images/arrow2.png") no-repeat scroll right center transparent;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
  padding-right: 0px\9;
}
select::-ms-expand {
  display: none;
}
/*体检卡预约*/
.kktcyy {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}
.kktcyy > div > h2 {
  background-color: #f5f5f5;
  font-weight: normal;
  font-size: 18px;
  color: #333;
  padding: 5px 10px 5px 20px;
  border: 1px solid #e4e4e4;
  line-height: 1.6;
}
.kktcyy > div > h2 > a.lookjg {
  float: right;
  background-color: #019eeb;
  color: #fff;
  height: 22px;
  line-height: 22px;
  padding: 4px 10px;
  border-radius: 3px;
}
.kktcyy > div > h2 > a.lookjg:hover {
  background-color: #0590D4;
}
.smallnav {
  margin: 10px;
  background: url(../images/home.jpg) no-repeat left center;
  padding: 5px 0 5px 30px;
  color: #4b4643;
}
.smallnav span {
  margin: 0 10px;
  letter-spacing: -4px;
}
.smallnav a.active {
  color: #019eeb;
}
.smallnav a:hover {
  color: #019eeb;
}
.yykbody {
  margin-top: 10px;
  border: 1px solid #e4e4e4;
  position: relative;
  padding: 20px 10px;
}
.yykbody .stateimg {
  position: absolute;
  right: 0;
  top: 0;
}
.tyk {
  float: left;
  position: relative;
  margin-right: 20px;
  color: #fff;
}
.tyk a {
  display: block;
  color: #fff;
}
.tyk p.kahead {
  position: absolute;
  top: 0;
  width: 100%;
}
.tyk p.kahead span {
  display: inline-block;
  width: 75px;
  height: 55px;
  margin-left: 38px;
  font-size: 17px;
  text-align: center;
  line-height: 1.5;
}
.tyk p.kahead span strong {
  font-weight: normal;
  letter-spacing: 5px;
}
.tyk p.kahead b {
  float: right;
  font-size: 26.7px;
  margin-top: 10px;
  margin-right: 20px;
  line-height: 1;
}
.tyk p.kaname {
  position: absolute;
  top: 85px;
  font-size: 28px;
  margin-left: 38px;
}
.tyk ul {
  position: absolute;
  top: 135px;
  margin-left: 60px;
}
.tyk ul li {
  text-indent: -5px;
  font-size: 17px;
  list-style: disc;
}
.tykinfo {
  overflow: hidden;
}
.tykinfo h3 a {
  font-size: 22px;
  color: #333;
  margin-bottom: 20px;
}
.tykinfo h3 a:hover {
  color: #019eeb;
}
.tykinfo p {
  font-size: 16px;
  color: #666;
}
.tykinfo p.yytext {
  max-width: 410px;
  margin-top: 20px;
  font-size: 14px;
  color: #f28123;
}
.tykinfo a.changeyy {
  float: right;
  margin-right: 80px;
  margin-top: -60px;
  font-size: 18px;
  color: #fff;
  background-color: #ff600e;
  padding: 10px 25px;
  border-radius: 5px;
}
.tykinfo a.changeyy:hover {
  background-color: #E45206;
}
.yyjd {
  border: 1px solid #e4e4e4;
  border-top: none;
}
.yyjdbody {
  text-align: center;
  padding: 20px;
}
.yyjdbody > div {
  display: inline-block;
  background: url(../images/forgot.png) center top no-repeat;
  padding-top: 30px;
  width: 64px;
  text-align: center;
  position: relative;
  z-index: 2;
  font-size: 16px;
  color: #555;
}
.yyjdbody > div.active {
  background-image: url(../images/forgot_finish.png);
}
.yyjdbody > span {
  display: inline-block;
  width: 250px;
  height: 7px;
  background-color: #dbdbdb;
  margin-left: -25px;
  margin-right: -25px;
  margin-top: 10px;
  vertical-align: top;
}
.yyjdbody > span.active {
  background-color: #019EEB;
}
.yyinfo {
  margin-top: 20px;
}
.yyinfo table {
  border: 1px solid #e4e4e4;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.yyinfo table th {
  background-color: #f5f5f5;
  font-size: 16px;
  color: #666;
  font-weight: normal;
  line-height: 2;
}
.yyinfo table td {
  font-size: 16px;
  color: #666;
  padding: 10px 0;
  vertical-align: middle;
}
.yyinfo table td:first-child {
  padding-left: 10px;
  max-width: 200px;
  text-align: left;
}
.yyinfo table td:first-child img {
  width: 100px;
  height: 75px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.yyinfo table td:first-child a.linkjg {
  font-size: 16px;
  color: #666;
  vertical-align: middle;
  max-width: 150px;
  display: inline-block;
}
.yyinfo table td:first-child a.linkjg:hover {
  color: #019eeb;
}
.yyinfo table td span.state {
  color: #ff600e;
}
.yyinfo table td a.yybtn {
  color: #fff;
  background-color: #ff600e;
  padding: 4px 10px;
  border-radius: 3px;
}
.yyinfo table td a.yybtn:hover {
  background-color: #E45206;
}
.yytips {
  margin-top: 20px;
}
.tipsbody {
  border: 1px solid #e4e4e4;
  border-top: none;
  padding: 25px 20px;
}
.tipsbody p {
  margin: 10px 0;
  font-size: 14px;
  color: #666;
}
.tipsbody p b {
  color: #eb5b41;
  font-size: 18px;
}
.tipsbody p span {
  color: #eb5b41;
  font-size: 14px;
}
/*弹窗*/
body,
html {
  height: 100%;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  display: block;
}
.outer {
  height: 100%;
  overflow: hidden;
  display: table;
  position: static;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000,endColorstr=#88000000);
}
.middle {
  display: table-cell;
  vertical-align: middle;
  position: static;
  max-height: 100%;
}
.model {
  margin: 60px 0;
}
.inner {
  width: 586px;
  margin: 0 auto;
  max-height: 100%;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  overflow: visible;
}
.inner input{box-sizing: border-box;}
.inner .mcontent {
  max-height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  overflow: visible;
}
.inner .mhead {
  height: 51px;
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: #019eeb;
  color: #fff;
}
.inner .mfooter {
  height: 50px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  background-color: #fff;
}
.mhead h4 {
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
  font-weight: normal;
}
.mhead h4 a {
  float: right;
  width: 24px;
  margin-top: 13px;
  height: 23px;
  margin-right: 10px;
  background: url(../images/closebtnimg.png) no-repeat;
}
.mcontent > div {
  margin-bottom: 7px;
  font-size: 16px;
}
.mcontent > div .inputname {
  display: inline-block;
  width: 131px;
  text-align: right;
  color: #666;
  margin-right: 13px;
}
.mcontent > div label {
  color: #666;
}
.mcontent .messageout {
  width: 389px;
  padding-left: 100px;
  margin: 15px auto;
}
.mcontent input {
  box-sizing: border-box;
  padding: 5px 10px;
  height: 43px;
  width: 388px;
  outline: 0;
  font-size: 16px;
  color: #666;
  border: 1px solid #dbdbdb;
}
.mcontent input:focus {
  border: 1px solid #019eeb;
}
.selectcity {
  display: inline-block;
  position: relative;
  height: 43px;
}
.selectcity input {
  height: 40px;
  width: 226px;
  outline: 0;
  border: 1px solid #dbdbdb;
}
.selectcity input:focus {
  border: 1px solid #019eeb;
}
.selectcity ul.searchlist,
.selectcity .citylist {
  box-sizing: border-box;
  position: absolute;
  background-color: #fff;
  z-index: 99999;
  border: 1px solid #dbdbdb;
  top: 100%;
  color: #666;
}
.selectcity ul.searchlist {
  width: 100%;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  *zoom: 1;
}
.selectcity ul.searchlist:before,
.selectcity ul.searchlist:after {
  content: " ";
  display: table;
}
.selectcity ul.searchlist:after {
  clear: both;
}
.selectcity ul.searchlist:before,
.selectcity ul.searchlist:after {
  content: " ";
  display: table;
}
.selectcity ul.searchlist:after {
  clear: both;
}
.selectcity ul.searchlist li {
  padding: 3px 10px;
  cursor: pointer;
}
.selectcity ul.searchlist li:hover {
  color: #fff;
  background-color: #019eeb;
}
.selectcity ul.searchlist li + li {
  border-top: 1px solid #dbdbdb;
}
.selectcity .citylist {
  width: 400px;
}
.selectcity .citylist p {
  font-size: 12px;
  color: #999;
  padding: 5px 10px;
}
.selectcity .citylist .tab {
  width: 100%;
  margin-left: 15px;
}
.selectcity .citylist .tab a {
  float: left;
  font-size: 15px;
  color: #555;
  padding: 2px 6px;
  border-bottom: 2px solid #e4e4e4;
}
.selectcity .citylist .tab a:hover,
.selectcity .citylist .tab a.active {
  border-bottom-color: #019eeb;
}
.selectcity .citylist .citybody {
  padding-left: 10px;
  margin-top: 10px;
}
.selectcity .citylist .citybody > div {
  display: none;
}
.selectcity .citylist .citybody > div.active {
  display: block;
}
.selectcity .citylist .citybody ul {
  *zoom: 1;
  width: 100%;
}
.selectcity .citylist .citybody ul:before,
.selectcity .citylist .citybody ul:after {
  content: " ";
  display: table;
}
.selectcity .citylist .citybody ul:after {
  clear: both;
}
.selectcity .citylist .citybody ul:before,
.selectcity .citylist .citybody ul:after {
  content: " ";
  display: table;
}
.selectcity .citylist .citybody ul:after {
  clear: both;
}
.selectcity .citylist .citybody ul li {
  float: left;
  margin: 5px;
}
.selectcity .citylist .citybody ul li a {
  display: inline-block;
  font-size: 14px;
  color: #555;
  padding: 3px 7px;
}
.selectcity .citylist .citybody ul li.active a,
.selectcity .citylist .citybody ul li:hover a {
  background-color: #019eeb;
  color: #fff;
}
.selectcity .citylist .citybody .letter span {
  float: left;
  width: 20px;
  margin: 8px 0;
  color: #e56700;
  font-size: 14px;
}
.selectcity .citylist .citybody .letter .rightcity {
  margin-left: 20px;
}
select.arealist {
  box-sizing: border-box;
  padding: 5px 10px;
  position: relative\9;
  
  padding: 0\9;
  font-size: 16px;
  color: #666;
  height: 41px;
  width: 147px;
  outline: 0;
  border: 1px solid #dbdbdb;
  margin-left:10px;
}
select.arealist:focus {
  border: 1px solid #019eeb;
}
select.hpselect {
  box-sizing: border-box;
  padding: 5px 10px;
  padding: 0\9;
  font-size: 16px;
  color: #666;
  height: 40px;
  line-height: 35px;
  width: 388px;
  outline: 0;
  border: 1px solid #dbdbdb;
}
select.hpselect:focus {
  border: 1px solid #019eeb;
}
.model {
  margin: 60px 0 140px 0;
  padding-top: 12px;
}
.inner .mfooter {
  text-align: center;
  height: 130px;
}
.inner .mfooter input[type=button] {
  margin-top: 30px;
  border: none;
  font-size: 20px;
  color: #fff;
  font-family: "微软雅黑";
  background-color: #019eeb;
  border-radius: 5px;
  padding: 12px 130px;
  cursor: pointer;
}
.inputbox {
  display: inline-block;
  position: relative;
  padding: 10px 0;
  cursor: pointer;
  width: 65px;
}
.checkoutr {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 17px;
  height: 17px;
  position: relative;
  border: none;
  cursor: pointer;
  top: 2px;
}
.checkoutr input[type="checkbox"],
.checkoutr input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  opacity: 0;
  background: #ffffff;
}
.checkoutr .inputboxbg {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url(../images/radiobg.png) no-repeat;
}
/*radioboxbg*/
.checkoutr .radioboxbg {
  background-position: -34px 0;
}
.checkoutr:hover .radioboxbg {
  background-position: -17px 0;
}
.checkoutr input[checked] + .radioboxbg,
.checkoutr input[defaultChecked] + .radioboxbg,
.checkoutr input:checked + .radioboxbg {
  background-position: 0 0;
}
.outertips {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  font-size: 14px;
  display: none;
  font-family: "microsoft yahei";
  z-index: 999999;
}
.modelqrcode {
  display: table;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000,endColorstr=#88000000);
  height: 100%;
  width: 100%;
}
.submdqrcode {
  display: table-cell;
  vertical-align: middle;
  position: static;
  width: 100%;
}
.mdcontent {
  position: relative;
  top: -50%;
  width: 368px;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.mdcontent > p.head {
  color: #b1b1b1;
  overflow: hidden;
  margin: 0;
  text-align: center;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
}
.mdcontent .showqrcode {
  width: 85%;
  overflow: hidden;
  margin: 0 auto;
}
.mdcontent > a.closebtn {
  position: absolute;
  right: 10px;
  top: 5px;
  background-color: #fff;
  color: #019EEB;
  text-decoration: none;
  width: 20px;
  height: 20px;
  background: url(../images/modelwdcbtn.png) center center no-repeat;
}
.showqrcode .contentblock .question {
  padding: 30px 0;
  font-size: 18px;
  color: #555;
}
.showqrcode .contentblock .question b {
  margin-top: 20px;
  font-weight: normal;
  display: block;
  text-align: center;
}
.showqrcode span.tipsbg {
  float: none;
  display: block;
  margin: 0 auto;
  width: 54px;
  height: 54px;
  background: url(../images/modelwdq.png) center center no-repeat;
}
.showqrcode span.tipsbg.success {
  background-image: url(../images/modelsuccess.png);
}
.showqrcode span.tipsbg.unknown {
  background-image: url(../images/modelunknown.png);
}
.showqrcode span.tipsbg.error {
  background-image: url(../images/modelerror.png);
}
.mdcontent .control {
  text-align: center;
  padding-top: 0;
}
.mdcontent .control a {
  font-size: 16px;
  display: inline-block;
  width: 106px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  color: #555;
}
.mdcontent .control a + a {
  margin-left: 20px;
}
.mdcontent .control a.active,
.mdcontent .control a:hover {
  border-color: #019EEB;
  background-color: #019EEB;
  color: #fff;
}
.mdcontent .control a.active:hover {
  border-color: #2494CB;
  background-color: #2494CB;
  color: #fff;
}
/*康康套餐登录*/
.kktclgcontent {
  position: relative;
  height: 468px;
  min-width: 1200px;
  overflow: hidden;
}
.kktcimgout {
  width: 100%;
  position: absolute;
  margin-left: 50%;
}
.kktcimgout img {
  display: block;
  width: 1920px;
  height: 468px;
  margin-left: -960px;
}
.loginout {
  width: 1200px;
  position: relative;
  margin: 0 auto;
}
#error.error_message {
  height: auto;
  line-height: 25px;
  padding-left: 28px;
  font-size: 14px;
  color: #FF8E8E;
  background: url(../images/wrong.png) 3px 2px no-repeat;
  background-size: 20px;
  background-color: #FFF2F2;
  border: #FF8E8E 1px solid;
}
.kktclogin {
  position: absolute;
  top: 24px;
  right: 0;
  width: 350px;
  background-color: #fff;
  padding: 20px 15px;
  box-sizing: border-box;
}
.kktclogin h2 {
  font-weight: normal;
  font-size: 18px;
  color: #333;
  margin: 0 10px 15px;
}
.kktclogin > div {
  font-size: 16px;
  margin: 15px 10px;
}
.kktclogin > div > span {
  width: 40px;
  height: 40px;
  margin: 1px 0 0 1px;
  position: absolute;
  background: #ddd url(../images/kktc_loginps.png) no-repeat center center;
}
.kktclogin > div input[type=text],
.kktclogin > div input[type=password] {
  border: 1px solid #ccc;
  outline: 0;
  height: 40px;
  width: 248px;
  padding-left: 50px;
}
.kktclogin > div input[type=text]:focus,
.kktclogin > div input[type=password]:focus {
  border-color: #019eeb;
}
.kktclogin > div.password > span {
  background-image: url(../images/kktc_loginuser.png);
}
.kktclogin > div.getvcode input {
  width: 115px;
  padding-left: 5px;
}
.kktclogin > div.getvcode img {
  margin-left: 5px;
  width: 80px;
  height: 42px;
  vertical-align: bottom;
}
.kktclogin > div.getvcode a {
  margin-left: 5px;
  display: inline-block;
  vertical-align: bottom;
  color: #3996e3;
  font-size: 12px;
}
.kktclogin .loginbtn {
  text-align: center;
}
.kktclogin .loginbtn input {
  font-family: "微软雅黑";
  background-color: #019eeb;
  border: none;
  font-size: 18px;
  color: #fff;
  height: 42px;
  width: 300px;
  border-radius: 5px;
}
.logintips ul {
  margin: 0;
  padding: 0 0 0 10px;
}
.logintips ul li {
  list-style: decimal;
  font-size: 12px;
  color: #999;
  margin: 5px 0;
}
.logintips p:first-child {
  font-size: 14px;
  color: #3996e3;
}
/*康康套餐列表*/
.kktcindex {
  min-width: 1200px;
}
.barimg {
  position: relative;
  overflow: auto;
  min-width: 1200px;
}
.barimg ul {
  height: 300px;
  overflow: hidden;
}
.barimg ul li {
  width: 100%;
  float: left;
  overflow: hidden;
}
.barimg ul li > a {
  display: block;
  margin-left: 50%;
}
.barimg ul li img {
  display: block;
  width: 1920px;
  height: 300px;
  margin-left: -960px;
}
.barimg .btn,
.barimg .dot {
  -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
  -moz-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
  -ms-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
  -o-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
}
.barimg .dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
}
.barimg .dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}
.barimg .dots li.active {
  background: #fff;
  opacity: 1;
}
#kktcnav {
  background-color: #f2f2f2;
  width: 1200px;
  border: 1px solid #eee;
  box-sizing: border-box;
  margin: 20px auto;
}
#kktcnav .pagesate {
  margin-right: 20px;
  float: right;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
}
#kktcnav .pagesate a {
  font-size: 20px;
  color: #999;
}
#kktcnav .pagesate a:hover {
  color: #019eeb;
}
#kktcnav .pagesate span {
  margin: 5px;
}
#kktcnav .pagesate span.bule {
  color: #019eeb;
}
#kktcnav ul li {
  float: left;
  height: 45px;
  line-height: 45px;
}
#kktcnav ul li a {
  text-align: center;
  width: 60px;
  display: block;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #eee;
}
#kktcnav ul li a span {
  margin-left: 5px;
  display: inline-block;
  width: 10px;
  height: 11px;
  background: url(../images/kktc_listicon.png) 0 0 no-repeat;
}
#kktcnav ul li a:hover,
#kktcnav ul li a.active {
  color: #019eeb;
  background-color: #fff;
  border-bottom: 1px solid #fff;
}
#kktcnav ul li a.nomal span {
  background-image: none;
}
#kktcnav ul li a.sales span {
  background-position: 0 0;
}
#kktcnav ul li a.sales.active1 span {
  background-position: -30px 0;
}
#kktcnav ul li a.sales.active2 span {
  background-position: -40px 0;
}
#kktcnav ul li a.discount span {
  background-position: 0 0;
}
#kktcnav ul li a.discount.active1 span {
  background-position: -30px 0;
}
#kktcnav ul li a.discount.active2 span {
  background-position: -40px 0;
}
#kktcnav ul li a.price span {
  background-position: -20px 0;
}
#kktcnav ul li a.price.active1 span {
  background-position: -50px 0;
}
#kktcnav ul li a.price.active2 span {
  background-position: -60px 0;
}
#kktcnav ul li a.price.active3 span {
  background-position: -70px 0;
}
#kktcnav ul li b {
  margin-left: 10px;
  font-size: 16px;
  color: #999;
  display: inline-block;
  height: 20px;
  width: 10px;
  margin-right: -18px;
  position: relative;
  z-index: 2;
  vertical-align: top;
  font-weight: normal;
}
#kktcnav ul li input[type=text] {
  height: 20px;
  width: 40px;
  padding-left: 17px;
  outline: 0;
  border: 1px solid #dbdbdb;
}
#kktcnav ul li input[type=text]:focus {
  border-color: #019eeb;
}
#kktcnav ul li input[type=button] {
  border: none;
  background-color: #019eeb;
  color: #fff;
  padding: 3px 15px;
  margin-left: 10px;
}
.kktclist {
  width: 1200px;
  margin: 0 auto;
}
.kktclist > ul {
  width: 100%;
}
.kktclist > ul > li {
  width: 289px;
  margin: 10px 0.3%;
  overflow: hidden;
  float: left;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  /*padding: 12px  10px 18px 10px;*/
  text-align: center;
  height: 299px;
  position: relative;
  padding-top:12px;padding-bottom:18px;
}
.kktclist > ul > li > a {
  display: block;
}
.kktclist .tyk {
  float: none;
  display:inline-block;
  margin:0 auto;
  width: 268px;
}
.kktclist .tyk > img {
  display: block;
  width: 268px;
  height: 185px;
}
.kktclist .tyk .kahead {
  *zoom: 1;
  text-align: left;
}
.kktclist .tyk .kahead:before,
.kktclist .tyk .kahead:after {
  content: " ";
  display: table;
}
.kktclist .tyk .kahead:after {
  clear: both;
}
.kktclist .tyk .kahead:before,
.kktclist .tyk .kahead:after {
  content: " ";
  display: table;
}
.kktclist .tyk .kahead:after {
  clear: both;
}
.kktclist .tyk .kahead span {
  width: 60px;
  margin-left: 18px;
  font-size: 14px;
}
.kktclist .tyk .kahead b {
  position: relative;
  z-index: 999;
  font-size: 18px;
  font-weight: normal;
  margin-right: 10px;
}
.kktclist .tyk .kahead img {
  position: absolute;
  right: 0;
}
.kktclist .tyk .kaname {
  margin-left: 18px;
  font-size: 20px;
  top: 63px;
  font-weight: bold;
}
.kktclist .tyk .kaname b {
  color: #fae728;
}
.kktclist .tyk ul {
  top: 90px;
  margin-left: 37px;
  text-align: left;
}
.kktclist .tyk ul li {
  text-indent: -7px;
  font-size: 14px;
}
.kktcbody {
  width: 287px;
  transition: all 400ms;
  text-align: left;
  background-color: #fff;
}
.kktcbody .bc {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#88FFFFFF,endColorstr=#88FFFFFF);
}
.kktcbody:hover .bc {
  display: block;
}
.kktcbody:hover .infoct {
  top: -110px;
}
.kktcbody .infoct {
  position: relative;
  z-index: 99999;
  overflow: hidden;
  background-color: #fff;
  padding: 0 10px;
  top: 0;
  -webkit-transition: all 400ms;
  -ms-transition: all 400ms;
  transition: all 400ms;
}
.kktcbody h3 {
  margin: 14px 0 0 0;
  display: block;
  font-size: 16px;
  color: #222;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 450;
  position: relative;
}

.kktcbody h3 .coupon01 {
    position: absolute;
    right: -1px;
    top: 1px;
    line-height: 21px;
    display: block;
    height: 21px;
    padding-left: 2px;
    padding-right: 2px;
    float: right;
    background-color: #ff7e00;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;

}
.kktcbody h3:hover {
  color: #019eeb;
}
.kktcbody small {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  color: #999;
  margin-bottom: 6px;
}
.kktcbody p.priceinfo {
  padding-bottom: 14px;
  border-bottom: 1px solid #dbdbdb;
}
.kktcbody p.priceinfo b {
  font-size: 18px;
  color: #eb5b41;
  margin-right: 5px;
  font-weight: normal;
}
.kktcbody p.priceinfo b strong {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: -1px;
}
.kktcbody p.priceinfo s {
  font-size: 14px;
  color: #999;
}
.kktcbody p.priceinfo span {
  font-size: 14px;
  color: #999;
  float: right;
  line-height: 20px;
  margin-top: 10px;
}
.doctorinfo {
  padding-bottom: 10px;
}
.doctorinfo > img.doctorhead {
  width: 51px;
  height: 51px;
  border-radius: 51px;
  float: left;
  margin-right: 9px;
  margin-top: 13px;
}
.doctorinfo .doctortext {
  margin-top: 10px;
}
.doctorinfo .doctortext .doctorname {
  padding: 7px 0 0 0;
  font-size: 14px;
  color: #555;
}
.doctorinfo .doctortext .doctorname span {
  border: 1px solid #019eeb;
  color: #019eeb;
  border-radius: 4px;
  padding: 0 10px;
  margin: 0 10px;
}
.doctorinfo .doctortext .introduce {
  color: #999;
  font-size: 12px;
  padding-top: 5px;
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.kktcindex .kktcpage {
  text-align: center;
}
.kktcindex .kktcpage .centpage {
  display: inline-block;
}
.kktcindex .kktcpage a {
  float: left;
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 0;
}
.kktcindex .kktcpage a.active,
.kktcindex .kktcpage a:hover {
  background-color: #019eeb;
  color: #fff;
  border-color: #019eeb;
}
.kktcindex .kktcpage a + a {
  border-left: none;
}
.kktcindex .kktcpage a.prev {
  word-spacing: 6px;
  letter-spacing: -3px;
  font-size: 12px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.kktcindex .kktcpage a.next {
  letter-spacing: -3px;
  font-size: 12px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}






/*预约体检日历*/

.mcontent .calender01{position: relative;}
.mcontent .close{width: 24px; height: 24px; background:url(../images/calender_close.png); position: absolute;right: -12px;top: -12px;}
.mcontent .selectdata{box-shadow: 0px 1px 5px rgba(0,0,0,0.2);position:absolute; z-index: 999999; top: 42px; left:149px; width:379px; background-color: #ffffff; border:1px #e5e5e5 solid; }
.mcontent .selectdata .controldiv{ margin: 0px; line-height: 41px;font-size: 13px; text-align: center; color: #000000;}
.mcontent .selectdata .controldiv p{ color: #555555; margin: 0px;font-weight: bold; }
.mcontent .selectdata .controldiv span{color: #555555; color: #666666; margin-left: 5px; margin-right: 5px;}
.mcontent .selectdata .controldiv .left{ margin-top: 12px; margin-left: 78px; height: 100%;width:16px;height: 16px;background:url(../images/calender_logo05.png); float: left;}
.mcontent .selectdata .controldiv .right{margin-top: 12px; margin-right: 78px; height: 100%;width:16px;height: 16px;background:url(../images/calender_logo04.png); float: right;}
.mcontent .selectdata table tbody tr:nth-child(even) {background-color: #fafafa; }
.mcontent .selectdata table{width: 100%; border-spacing: 0;border-collapse: collapse;}
.mcontent .selectdata thead th{ background-color: #fafafa; font-size: 12px; font-weight: normal; line-height: 44px; color: #919191; border:1px #e5e5e5 solid;border-right: 0px;}
.mcontent .selectdata thead th:first-child{border-left: 0px;color:#eb5b41;}
.mcontent .selectdata tr td{ font-size: 12px; position: relative; vertical-align: top;color: #d7d7d7; font-weight: bold; line-height: 14px; height: 44px;border:1px #e5e5e5 solid;border-right: 0px;}
.mcontent .selectdata tr td:first-child{border-left:0px;}
.mcontent .selectdata tr td.active{color:#666666; cursor:pointer;}
.mcontent .selectdata tr td.active span{color:#42aae1; font-weight: normal;}
.mcontent .selectdata tr td.isToday{color:#eb5b41; background-color: #eeeeee;}
.mcontent .selectdata tbody td p{ color: #d7d7d7;font-size: 13px; padding-top:5px; padding-bottom: 5px; margin: 0px;}
.mcontent .selectdata tbody td.active p{color: #666666;}
.mcontent .selectdata tr td.icon01{cursor: default;}
.mcontent .selectdata tr td.icon01:after{
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 0px;
    height: 0px;
    border: solid;
    border-width: 6px 6px 6px 0px;
    border-color: transparent;
    border-right-color: #42aae1;
    display: block;
    transform: rotate(-135deg);
    -ms-transform: rotate(-135deg) translate(-6px,-3px);
    -webkit-transform: rotate(-135deg) translate(-6px,-3px);
    -o-transform: rotate(-135deg) translate(-6px,-3px);
    -moz-transform: rotate(-135deg) translate(-3px,-2px);
}
.mcontent .selectdata .kktipbox_point_right{border:0px; width:8px; height: 8px; background-image: url(../images/tipbox_point_right.png);}
.mcontent .selectdata .kktipbox{border:1px #a5a5a5 solid; font-size: 13px;}

/*预约体检日历 end*/